body{
    font: 20px Arial, sans-serif
}

.navbar{
    background-color: lightseagreen;
}

.quem-somos{
    background-color: lightgrey;
    color: white
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: violet;
}

.bg-footer{
    background-color: black;
    color: white;
}